<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <div class="mb- text-center tracking-tight">
            <img
                class="mx-auto h-14 w-auto my-2 p-2 bg-black rounded-xl"
                src="chat-favicon-light.png"
                alt="Chat app"
            />
            <h1 class="text-2xl/9 font-medium text-primary">
                Set a New Password
            </h1>
            <h2 class="text-gray-500 p-2">
                You're almost there. Enter your new password below to regain access to your account. For your security, choose a strong password you haven&#39;t used before.
            </h2>
        </div>
    </div>


  @if (isLoading()) {
    <div class="mx-auto w-full max-w-sm">
      <div hlmAlert>
        <ng-icon hlm hlmAlertIcon name="lucideLoader" />
        <h4 hlmAlertTitle>Processing</h4>
        <p hlmAlertDesc>Please wait...</p>
      </div>
    </div>
  } @else {
    @if (error()) {
      <div
        class="mx-auto w-full max-w-sm cursor-pointer"
        (click)="clearError()"
        >
        <div hlmAlert variant="destructive">
          <ng-icon hlm hlmAlertIcon name="lucideTriangleAlert" />
          <h4 hlmAlertTitle>Unexpected Error</h4>
          <p hlmAlertDesc>{{ error() }}</p>
        </div>
      </div>
    }
  }
  @if(form.get('password')?.errors?.['passwordStrength'] !== null && !form.controls['password'].hasError('required')) {
    <div hlmAlert class="mx-auto md:max-w-sm hover:ring-[3px] hover:ring-ring/50 transition-all">
      <ng-icon hlm hlmAlertIcon name="lucideCircleAlert" />
      <h1 hlmAlertTitle> Password is invalid! </h1>
      <ul hlmAlertDesc class="list-disc text-destructive">

        @if (!form.get('password')?.errors?.['passwordStrength']?.hasLength) {
          <li>
            <hlm-error class="flex items-center gap-x-1 mt-2 mb-px">
              Password must be at least 8 characters long.
            </hlm-error>
          </li>
        }
        @if (!form.get('password')?.errors?.['passwordStrength']?.hasUppercase) {
          <li>
            <hlm-error class="flex items-center gap-x-1 mt-2 mb-px">
              Password must contain at least one uppercase letter.
            </hlm-error>
          </li>
        }
        @if (!form.get('password')?.errors?.['passwordStrength']?.hasNumeric) {
          <li>
            <hlm-error class="flex items-center gap-x-1 mt-2 mb-px">
              Password must contain at least one number.
            </hlm-error>
          </li>
        }
        @if (!form.get('password')?.errors?.['passwordStrength']?.hasSpecial) {
          <li>
            <hlm-error class="flex items-center gap-x-1 mt-2 mb-px">
              Password must contain at least one special character.
            </hlm-error>
          </li>
        }
      </ul>
    </div>
  }

  <div class="mt-5 sm:mx-auto sm:w-full sm:max-w-sm">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <fieldset class="mb-4">
        <div class="text-sm"></div>
        <div class="relative">
          <hlm-form-field>
            <input 
              [type]="showPass() ? 'text' : 'password'"
              name="password" 
              formControlName="password" 
              id="password" 
              class="w-full rounded-r-[calc(var(--radius))]" 
              placeholder="Password" 
              autocomplete="new-password" 
              required 
              hlmInput
            />
            @if (form.controls['password'].hasError('required')) {
              <hlm-error class="flex items-center gap-x-1 mt-2 mb-px">
                Password required!
              </hlm-error>
            } @else if(form.get('password')?.errors?.['passwordStrength'] !== null){
              <hlm-error>
                Password is invalid!
              </hlm-error>
            }
          </hlm-form-field>
          <button
            type="button"
            hlmBtn
            class="absolute top-0 right-0 rounded-l-none duration-300 min-w-16 cursor-pointer"
            (click)="togglePasswordVisibility()"
            >
              {{ showPass() ? "Hide" : "Show" }}
          </button>
        </div>
      </fieldset>

      <fieldset>
        <button
          type="submit"
          hlmBtn
          variant="default"
          class="w-full cursor-pointer"
        >
            Reset Password
        </button>
      </fieldset>
    </form>
    <p class="mt-2 text-center text-sm/6 text-gray-500">
      Back to
      <a
        [routerLink]="'/auth/login'"
        class="ml-px text-primary cursor-pointer"
      >
        Login
      </a>
    </p>
  </div>
</div>
