<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <!-- <img
      class="mx-auto h-10 w-auto"
      src=""
      alt="Your Company"
    /> -->
    <h2
      class="mt-10 text-center text-2xl/9 font-medium tracking-tight text-gray-200"
    >
      Sign in to your account
    </h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="space-y-2.5">
      <fieldset>
        <label hlmLabel for="email" class="text-gray-300">Email address</label>
        <hlm-form-field>
          <input
            type="email"
            name="email"
            formControlName="email"
            id="email"
            autocomplete="email"
            required
            class="w-full text-gray-100"
            hlmInput
            type="email"
            placeholder="Email"
          />
        </hlm-form-field>
      </fieldset>
      <fieldset>
        <label hlmLabel for="password" class="text-gray-300">Password</label>
        <div class="text-sm"></div>
        <div class="relative">
          <hlm-form-field>
            <input
              [type]="showPass() ? 'text' : 'password'"
              name="password"
              formControlName="password"
              id="password"
              class="w-full text-gray-100"
              placeholder="Password"
              autocomplete="current-password"
              required
              hlmInput
            />
            <p class="text-end text-sm/6 text-gray-500">
              <a
                [routerLink]="['/forgot-password']"
                class="font-semibold text-[#fff]"
                >Forgot password?</a
              >
            </p>
          </hlm-form-field>
          <button
            type="button"
            class="absolute top-0 right-0 rounded-r-md hover:bg-[#fff] duration-300 text-[#fff] hover:text-black h-10 px-2.5 border"
            (click)="togglePasswordVisibility()"
          >
            {{ showPass() ? "Hide" : "Show" }}
          </button>
        </div>
      </fieldset>

      <fieldset>
        <button
          type="submit"
          hlmBtn
          variant="outline"
          class="text-[#fff] w-full"
        >
          Sign in
        </button>
      </fieldset>
    </form>

    <p class="mt-2 text-center text-sm/6 text-gray-500">
      Not a member?
      <a [routerLink]="['/register']" class="font-semibold text-[#fff]"
        >Register now!</a
      >
    </p>
  </div>
</div>
