@let file = this.file();
<div class="bg-accent rounded-lg flex items-center p-2 sm:p-0 md:p-2">
  <a
    [href]="apiUrl + file?.variants?.original"
    target="_blank"
    [download]="file?.originalName"
    class="flex items-center justify-start"
  >
    <span
      class="text-blue-500 flex items-center justify-center mr-3 rounded-xl bg-blue-100 p-1.5"
    >
      <ng-icon hlm name="lucideDownload" size="base" />
    </span>
    <div class="flex flex-col items-start justify-center text-sm">
      <h1
        class="font-medium text-ellipsis whitespace-normal wrap-anywhere [word-break:break-word]"
      >
        {{ file?.originalName }}
      </h1>
      <span class="text-blue-500 hover:underline">
        {{ (file?.fileSize || 0) | fileSize }}
      </span>
    </div>
  </a>
</div>
