@let message = this.message();
<div
  class="flex items-center mt-2"
  [ngClass]="{ 'justify-end': isCurrentUserMessage(message) }"
>
  <div class="flex flex-col">
    @if(isGroup() && !isCurrentUserMessage(message)){
    <span class="text-gray-500">
      {{ message.sender.username }}
    </span>
    }
    <div class="flex items-center justify-start">
      @if(!isCurrentUserMessage(message)){
      <hlm-avatar variant="small" class="min-w-fit mr-1.5">
        <img
          [src]="imageUrl() || '/icons/avatar.svg'"
          [alt]="message.sender.username"
          hlmAvatarImage
        />
        <span class="bg-[#FD005B] text-white" hlmAvatarFallback>RG</span>
      </hlm-avatar>
      }
      <div class="flex flex-col">
        <hlm-card hlmCard>
          <div class="py-1 px-3 text-ellipsis max-w-xs md:max-w-sm lg:max-w-md">
            <p>{{ message.content }}</p>
          </div>
        </hlm-card>
      </div>
    </div>
  </div>
</div>
@if(readReceipts() && readReceipts().length > 0 && isGroup() && isLastMessage()) {
  <div class="w-full flex items-center gap-x-1 justify-end pt-2">
    @if(readReceipts().length > 4) {
      @for(readReceipt of readReceipts().slice(0, 4); track readReceipt.user_id) {
        @let userCredentials = this.getUserCredentials(readReceipt.user_id);
        <hlm-avatar variant="2xs" class="min-w-fit">
          <img
          [src]="userCredentials.profile_picture || '/icons/avatar.svg'"
          [alt]="userCredentials.username"
          hlmAvatarImage
          />
        </hlm-avatar>
      }
      <span class="text-xs text-gray-500">+{{ readReceipts().length - 4 }}</span>
    } @else{
      @for(readReceipt of readReceipts(); track readReceipt.user_id) {
        @if(currentUser()._id !== readReceipt.user_id) {
          @let userCredentials = this.getUserCredentials(readReceipt.user_id);
          <button type="button" matTooltipClass="dark:bg-gray-300 text-start text-xs rounded-md dark:text-black" matTooltipPosition="above" aria-label="Button that displays a date when hovered user has read a message" matTooltip="Seen by {{ userCredentials.username }} at {{ readReceipt.read_at | date: 'short' }}" class="w-fit">
            <hlm-avatar variant="2xs" class="min-w-fit">
              <img
              [src]="userCredentials.profile_picture || '/icons/avatar.svg'"
              [alt]="userCredentials.username"
              hlmAvatarImage
              />
            </hlm-avatar>
          </button>
        }
      }
    }
  </div>
} @else if(isCurrentUserMessage(message) && isLastMessage() && !isGroup()) {
  <div hlmCardDescription class="text-xs text-end mt-1 opacity-70">
    <span
      >{{ `${(message.status | titlecase)} ${message.status !== 'sending' && message.status !== 'failed' ? (message.createdAt | timeAgo) : ''}` }}</span
    >
  </div>
}
