<div class="flex items-center gap-x-1 w-full">
  <!-- Delete -->
  <button
    hlmBtn
    variant="ghost"
    class="shrink-0 size-8 p-0 flex items-center justify-center rounded-full cursor-pointer text-muted-foreground hover:text-destructive hover:bg-destructive/10 transition-colors"
    (click)="deleteRecording()"
  >
    <ng-icon hlm size="sm" name="lucideTrash2" />
  </button>

  <!-- Progress bar -->
  <hlm-progress
    aria-labelledby="audio-timeline"
    class="flex-1 h-8 bg-muted inline-flex overflow-hidden relative rounded-full"
    [value]="recordingPercentage()"
  >
    <hlm-progress-indicator
      class="bg-primary/20 flex-1 h-full inline-flex transform-gpu transition-all w-full ease-linear"
    />

    <!-- Recording pulse indicator * -->
    @if (mediaRecorder?.state === 'recording') {
    <span
      class="absolute left-3 top-1/2 -translate-y-1/2 flex items-center gap-x-1.5"
    >
      <span class="size-2 rounded-full bg-destructive animate-pulse"></span>
      <span class="text-xs text-muted-foreground select-none">Recording</span>
    </span>
    }
  </hlm-progress>

  <audio #audioPlayer [src]="audioUrl()"></audio>

  <!-- Right action button -->
  @if (mediaRecorder?.state === 'recording') {
  <button
    hlmBtn
    variant="ghost"
    class="shrink-0 size-8 p-0 flex items-center justify-center rounded-full cursor-pointer text-muted-foreground hover:text-foreground transition-colors"
    (click)="stopRecording()"
  >
    <ng-icon hlm size="sm" name="lucideSquare" />
  </button>

  } @else if (mediaRecorder?.state === 'inactive' && audioUrl()) { @if
  (audioPlayer.paused) {
  <button
    hlmBtn
    variant="ghost"
    class="shrink-0 size-8 p-0 flex items-center justify-center rounded-full cursor-pointer text-muted-foreground hover:text-foreground transition-colors"
    (click)="audioPlayer.play()"
  >
    <ng-icon hlm size="sm" name="lucidePlay" />
  </button>
  } @else {
  <button
    hlmBtn
    variant="ghost"
    class="shrink-0 size-8 p-0 flex items-center justify-center rounded-full cursor-pointer text-muted-foreground hover:text-foreground transition-colors"
    (click)="audioPlayer.pause()"
  >
    <ng-icon hlm size="sm" name="lucidePause" />
  </button>
  } }
</div>
