@let user = this.user();
@if (user) {
  <main
    class="px-2.5 py-2 flex items-center gap-x-3 cursor-pointer rounded-xl hover:bg-muted/60 active:scale-[0.99] transition-all duration-150 select-none border-b border-border/40 last:border-b-0"
  >
    <hlm-avatar variant="medium">
      <img
        [src]="user.pfp_url ?? '/icons/avatar.svg'"
        [alt]="user.username"
        hlmAvatarImage
      />
      <span hlmAvatarFallback>
        <img src="/icons/avatar.svg" />
      </span>
    </hlm-avatar>
    <section>
      <h1 class="font-medium text-sm">{{ user.username }}</h1>
      @if (user.first_name || user.last_name) {
        <p class="text-xs text-muted-foreground">
          {{ user.first_name }} {{ user.last_name }}
        </p>
      }
    </section>
  </main>
}
