@let user = this.user();
@if(user) {
  <main
    hlmCard
    class="p-2 flex items-center gap-x-2 cursor-pointer hover:bg-accent"
  >
    <!-- AVATAR -->
    <hlm-avatar variant="medium">
      <img
      [src]="imageUrl ?? '/icons/avatar.svg'"
      [alt]="user.username"
      hlmAvatarImage
      />
      <span class="bg-black text-white text-sm" hlmAvatarFallback>PFP</span>
    </hlm-avatar>
    
    <section>
      <!-- Group title -->
      <h1 class="font-medium text-sm">{{ user.username }}</h1>
    </section>
  </main>
}