<mat-toolbar color="primary">
  <span>Chat App</span>
  <span style="font-size: x-small; margin-left: 0.5rem">GET_STREAM_IO</span>
  <span class="header-spacer"></span>
  <ng-container *ngIf="auth.user.value !== null; else authButtons">
    <span style="font-size: small"
      >User {{ auth.user.value.email }} is logged in</span
    >
    <button mat-button (click)="logOut()">Log out</button>
  </ng-container>
</mat-toolbar>
<main class="content mat-app-background">
  <router-outlet></router-outlet>
</main>
<ng-template #authButtons>
  <a routerLink="/signin" routerLinkActive="active" mat-button>Signin</a>
  <a routerLink="/signup" routerLinkActive="active" mat-button>Signup</a>
</ng-template>
