<hlm-tabs
    (tabActivated)="$event === 'media' ? fetchMedia() : $event === 'files' ? fetchFiles() : ''"
    tab="media"
    class="w-full border border-border rounded-lg mt-2 p-2"
    >
    <hlm-tabs-list aria-label="media & files" class="w-full">
        <button hlmTabsTrigger="media" (select)="fetchMedia()" class="cursor-pointer">Media</button>
        <button hlmTabsTrigger="files" (select)="fetchFiles()" class="cursor-pointer">Files</button>
    </hlm-tabs-list>
    <div hlmTabsContent="media" class="flex flex-wrap max-h-96 overflow-y-auto overflow-x-hidden py-2"> 
        @for(message of mediaMessages(); track message._id) {
            <button class="w-1/3 p-0.5 hover:opacity-75 transition-all cursor-pointer hover:scale-105 active:scale-95 active:opacity-100" (click)="openMedia(message, $index)">
                @switch(message.type) {
                    @case('image') {
                        <div class="bg-no-repeat bg-cover aspect-square image-pixelated" [style.background-image]="'url(' + apiUrl + (message.file?.mime_type === 'image/gif' ? message.file?.url : message.file?.placeholder_url) + ')'">
                            <img class="aspect-square object-cover" loading="lazy" [src]="apiUrl + message.file?.url" [alt]="message.content" />
                        </div>
                    }
                    @case('video') {
                        <img class="aspect-square object-cover pointer-events-none" [src]="apiUrl + message.file?.thumbnail_url" />
                    }
                }
            </button>
        }
        @if(mediaMessagesResource.isLoading()) {
            <div class="w-full mx-auto items-center justify-center my-2 flex flex-col">
                <hlm-spinner />
                <span>
                    Loading media...
                </span>
            </div>
        }
    </div>
    <div hlmTabsContent="files">

    </div>
</hlm-tabs>