<main class="p-3 w-full min-h-screen">
  <header class="pt-2 flex flex-col gap-y-3">
    <section class="flex justify-between items-center">
      <div>
        <h1 class="text-2xl font-bold">Chats</h1>
      </div>
      <div class="space-x-2">
        <button hlmBtn variant="secondary" class="cursor-pointer rounded-full">
          <ng-icon hlm size="sm" name="lucideMenu" />
        </button>
        <button
          (click)="navigateToNewConversation()"
          hlmBtn
          variant="secondary"
          class="cursor-pointer rounded-full"
        >
          <ng-icon hlm size="sm" name="lucidePencil" />
        </button>
      </div>
    </section>

    <div class="w-full flex items-center justify-between">
      <button
        *ngIf="activeView() === 'users'"
        (click)="switchToConversations()"
        class="cursor-pointer w-1/4 xs:w-1/12 sm:w-2/12 flex justify-center items-center size-10 rounded-full bg-secondary text-primary"
      >
        <ng-icon hlm name="lucideChevronLeft" />
      </button>

      <div
        [ngClass]="{
          'pl-2 w-3/4 xs:w-11/12 sm:w-10/12': activeView() === 'users',
          'w-full': activeView() === 'conversations'
        }"
      >
        <input
          hlmInput
          id="userSearch"
          type="search"
          class="w-full"
          placeholder="Search..."
          [formControl]="searchControl"
          (click)="switchToUsers()"
        />
      </div>
    </div>
  </header>

  <brn-separator decorative hlmSeparator />

  @if(activeView() === 'users') {
  <ng-container *ngIf="users().length > 0; else noUsers">
    <main>
      <section class="h-full w-full flex flex-col gap-y-2">
        <app-user-card
          *ngFor="let user of users()"
          [user]="user"
        ></app-user-card>
      </section>

      @if(isLoading()){
      <div class="flex justify-center items-center w-full h-full py-4">
        <ng-icon hlm name="lucideLoader" size="lg" class="animate-spin" />
      </div>
      }
    </main>
  </ng-container>

  <ng-template #noUsers>
    <div class="flex flex-col justify-center items-center pt-2 gap-y-2">
      <p>No users found.</p>
      <p class="text-sm">Try different keywords.</p>
    </div>
  </ng-template>
  } @else {
  <ng-container *ngIf="conversations().length > 0; else noConvos">
    <app-message-card
      *ngFor="let conversation of conversations()"
      class="conversation-item"
      [conversation]="conversation"
    >
    </app-message-card>
    @if(isLoading()){
    <div class="flex justify-center items-center w-full h-full py-4">
      <ng-icon hlm name="lucideLoader" size="lg" class="animate-spin" />
    </div>
    }
  </ng-container>
  <ng-template #noConvos>
    <div class="flex flex-col justify-center items-center pt-2 gap-y-2">
      <p>You have no conversations going on.</p>
      <a class="text-sm" [routerLink]="['/messages/new-chat']" hlmBadge>
        Start messaging now!
      </a>
    </div>
  </ng-template>
  }
</main>
