<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <!-- <img
      class="mx-auto h-10 w-auto"
      src=""
      alt="Your Company"
    /> -->
    <h2
      class="mb-5 text-center text-2xl/9 font-medium tracking-tight text-black dark:text-gray-200"
    >
      Register a new account
    </h2>
  </div>

  <ng-template #errorAlert>
    <div
      *ngIf="error()"
      class="mx-auto w-full max-w-sm cursor-pointer"
      (click)="clearError()"
    >
      <div hlmAlert variant="destructive">
        <ng-icon hlm hlmAlertIcon name="lucideTriangleAlert" />
        <h4 hlmAlertTitle>Unexpected Error</h4>
        <p hlmAlertDesc>{{ error() }}</p>
      </div>
    </div>
  </ng-template>

  <ng-container *ngIf="isLoading(); else errorAlert">
    <div class="mx-auto w-full max-w-sm">
      <div hlmAlert>
        <ng-icon hlm hlmAlertIcon name="lucideLoader" />
        <h4 hlmAlertTitle>Processing</h4>
        <p hlmAlertDesc>Please wait...</p>
      </div>
    </div>
  </ng-container>

  <div class="mt-5 sm:mx-auto sm:w-full sm:max-w-sm">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <fieldset class="mb-2">
        <label
          hlmLabel
          for="first_name"
          class="text-gray-800 dark:text-gray-300"
          >First name</label
        >
        <hlm-form-field>
          <input
            type="text"
            name="first_name"
            formControlName="first_name"
            id="first_name"
            autocomplete="given-name"
            required
            class="w-full"
            hlmInput
            placeholder="First name"
          />
          <hlm-error
            *ngIf="form.controls['first_name'].hasError('required')"
            class="flex items-center gap-x-1"
            ><ng-icon hlm size="sm" name="lucideCircleAlert"></ng-icon> First
            name is required!</hlm-error
          >
          <hlm-error
            *ngIf="form.controls['first_name'].hasError('minLength')"
            class="flex items-center gap-x-1"
            ><ng-icon hlm size="sm" name="lucideCircleAlert"></ng-icon> First
            name must be at least 3 characters long.
          </hlm-error>
          <hlm-error
            *ngIf="form.controls['first_name'].hasError('maxLength')"
            class="flex items-center gap-x-1"
            ><ng-icon hlm size="sm" name="lucideCircleAlert"></ng-icon> First
            name must be at most 32 characters long.
          </hlm-error>
        </hlm-form-field>
      </fieldset>
      <fieldset class="mb-2">
        <label hlmLabel for="last_name" class="text-gray-800 dark:text-gray-300"
          >Last name</label
        >
        <hlm-form-field>
          <input
            type="text"
            name="last_name"
            formControlName="last_name"
            id="last_name"
            autocomplete="family-name"
            required
            class="w-full"
            hlmInput
            placeholder="Last name"
          />
          <hlm-error
            *ngIf="form.controls['last_name'].hasError('required')"
            class="flex items-center gap-x-1"
            ><ng-icon hlm size="sm" name="lucideCircleAlert"></ng-icon> Last
            name is required!</hlm-error
          >
          <hlm-error
            *ngIf="form.controls['last_name'].hasError('minLength')"
            class="flex items-center gap-x-1"
            ><ng-icon hlm size="sm" name="lucideCircleAlert"></ng-icon> Last
            name must be at least 3 characters long.
          </hlm-error>
          <hlm-error
            *ngIf="form.controls['last_name'].hasError('maxLength')"
            class="flex items-center gap-x-1"
            ><ng-icon hlm size="sm" name="lucideCircleAlert"></ng-icon> Last
            name must be at most 32 characters long.
          </hlm-error>
        </hlm-form-field>
      </fieldset>
      <fieldset class="mb-2">
        <label hlmLabel for="username" class="text-gray-800 dark:text-gray-300"
          >Username</label
        >
        <hlm-form-field>
          <input
            type="text"
            name="username"
            formControlName="username"
            id="username"
            autocomplete="username"
            required
            class="w-full"
            hlmInput
            placeholder="Username"
          />
          <hlm-error
            *ngIf="form.controls['username'].hasError('required')"
            class="flex items-center gap-x-1"
            ><ng-icon hlm size="sm" name="lucideCircleAlert"></ng-icon> Username
            is required!</hlm-error
          >
          <hlm-error
            *ngIf="form.controls['username'].hasError('minLength')"
            class="flex items-center gap-x-1"
            ><ng-icon hlm size="sm" name="lucideCircleAlert"></ng-icon> Username
            must be at least 3 characters long.
          </hlm-error>
          <hlm-error
            *ngIf="form.controls['username'].hasError('maxLength')"
            class="flex items-center gap-x-1"
            ><ng-icon hlm size="sm" name="lucideCircleAlert"></ng-icon> Username
            must be at most 32 characters long.
          </hlm-error>
        </hlm-form-field>
      </fieldset>
      <fieldset class="mb-2">
        <label hlmLabel for="email" class="text-gray-800 dark:text-gray-300"
          >Email address</label
        >
        <hlm-form-field>
          <input
            type="email"
            name="email"
            formControlName="email"
            id="email"
            autocomplete="email"
            required
            class="w-full"
            hlmInput
            placeholder="Email"
          />
          <hlm-error
            *ngIf="form.controls['email'].hasError('required')"
            class="flex items-center gap-x-1"
            ><ng-icon hlm size="sm" name="lucideCircleAlert"></ng-icon> Email
            required!</hlm-error
          >
          <hlm-error
            *ngIf="form.controls['email'].hasError('email')"
            class="flex items-center gap-x-1"
            ><ng-icon hlm size="sm" name="lucideCircleAlert"></ng-icon> Email
            invalid!
          </hlm-error>
        </hlm-form-field>
      </fieldset>
      <fieldset class="mb-2">
        <label hlmLabel for="password" class="text-gray-800 dark:text-gray-300"
          >Password</label
        >
        <div class="text-sm"></div>
        <div class="relative">
          <hlm-form-field>
            <input
              [type]="showPass() ? 'text' : 'password'"
              name="password"
              formControlName="password"
              id="password"
              class="w-full rounded-r-[calc(var(--radius))]"
              placeholder="Password"
              autocomplete="current-password"
              required
              hlmInput
            />
            <hlm-error
              *ngIf="
                form.controls['password'].hasError('required');
                else passwordStrengthErrors
              "
              class="flex items-center gap-x-1 mt-2 mb-px"
              ><ng-icon hlm size="sm" name="lucideCircleAlert"></ng-icon>
              Password required!</hlm-error
            >
            <ng-template #passwordStrengthErrors>
              <hlm-error
                class="flex items-center gap-x-1 mt-2 mb-px"
                *ngIf="!form.get('password')?.errors?.['passwordStrength']?.hasLength"
              >
                <ng-icon hlm size="sm" name="lucideCircleAlert"></ng-icon>
                Password must be at least 8 characters long.</hlm-error
              >
              <hlm-error
                class="flex items-center gap-x-1 mt-2 mb-px"
                *ngIf="!form.get('password')?.errors?.['passwordStrength']?.hasUppercase"
              >
                <ng-icon hlm size="sm" name="lucideCircleAlert"></ng-icon>
                Password must contain at least one uppercase letter.</hlm-error
              >
              <hlm-error
                class="flex items-center gap-x-1 mt-2 mb-px"
                *ngIf="!form.get('password')?.errors?.['passwordStrength']?.hasNumeric"
              >
                <ng-icon hlm size="sm" name="lucideCircleAlert"></ng-icon>
                Password must contain at least one number.</hlm-error
              >
              <hlm-error
                class="flex items-center gap-x-1 mt-2 mb-px"
                *ngIf="!form.get('password')?.errors?.['passwordStrength']?.hasSpecial"
              >
                <ng-icon hlm size="sm" name="lucideCircleAlert"></ng-icon>
                Password must contain at least one special character.</hlm-error
              >
            </ng-template>
          </hlm-form-field>

          <button
            type="button"
            hlmBtn
            variant="secondary"
            class="absolute top-0 right-0 rounded-l-none duration-300 min-h-10 min-w-16 cursor-pointer"
            (click)="togglePasswordVisibility()"
          >
            {{ showPass() ? "Hide" : "Show" }}
          </button>
        </div>
      </fieldset>
      <fieldset class="mb-2">
        <label
          hlmLabel
          for="repeat_password"
          class="text-gray-800 dark:text-gray-300"
          >Repeat password</label
        >
        <div class="text-sm"></div>
        <div class="relative">
          <hlm-form-field>
            <input
              [type]="showRepeatPass() ? 'text' : 'password'"
              name="repeat_password"
              formControlName="repeat_password"
              id="repeat_password"
              class="w-full rounded-r-[calc(var(--radius))]"
              placeholder="Repeat password"
              autocomplete="current-password"
              required
              hlmInput
            />
            <hlm-error
              *ngIf="form.controls['repeat_password'].hasError('required')"
              class="flex items-center gap-x-1 mt-2 mb-px"
              ><ng-icon hlm size="sm" name="lucideCircleAlert"></ng-icon> Repeat
              Password is required!</hlm-error
            >
            <hlm-error
              *ngIf="form.controls['repeat_password'].hasError('mustMatch')"
              class="flex items-center gap-x-1 mt-2 mb-px"
              ><ng-icon hlm size="sm" name="lucideCircleAlert"></ng-icon>
              Passwords do not match!</hlm-error
            >
          </hlm-form-field>
          <button
            type="button"
            hlmBtn
            variant="secondary"
            class="absolute top-0 right-0 rounded-l-none duration-300 min-h-10 min-w-16 cursor-pointer"
            (click)="toggleRepeatPasswordVisibility()"
          >
            {{ showRepeatPass() ? "Hide" : "Show" }}
          </button>
        </div>
      </fieldset>

      <fieldset class="mt-4">
        <button
          type="submit"
          hlmBtn
          variant="default"
          class="w-full cursor-pointer"
        >
          Sign up
        </button>
      </fieldset>
    </form>

    <p class="mt-2 text-center text-sm/6 text-gray-500">
      Already have an acount?
      <a
        [routerLink]="['/login']"
        class="font-semibold text-black dark:text-white"
        >Login now</a
      >
    </p>
  </div>
</div>
