<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <!-- <img
        class="mx-auto h-10 w-auto"
        src=""
        alt="Your Company"
      /> -->
    <h2
      class="mt-10 text-center text-2xl/9 font-medium tracking-tight text-gray-300"
    >
      Register a new account
    </h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="space-y-2.5">
      <fieldset>
        <label
          hlmLabel
          for="first_name"
          class="block text-sm/6 font-medium text-gray-300"
          >First name</label
        >
        <hlm-form-field>
          <input
            class="w-full text-gray-100"
            hlmInput
            type="text"
            name="firstName"
            formControlName="firstName"
            placeholder="First name"
            id="first_name"
            autocomplete="off"
            required
          />
        </hlm-form-field>
      </fieldset>
      <fieldset>
        <label
          hlmLabel
          for="last_name"
          class="block text-sm/6 font-medium text-gray-300"
          >Last name</label
        >
        <hlm-form-field>
          <input
            class="w-full text-gray-100"
            hlmInput
            type="text"
            name="lastName"
            formControlName="lastName"
            placeholder="Last name"
            id="last_name"
            autocomplete="off"
            required
          />
        </hlm-form-field>
      </fieldset>
      <fieldset>
        <label
          hlmLabel
          for="username"
          class="block text-sm/6 font-medium text-gray-300"
          >Username</label
        >
        <hlm-form-field>
          <input
            class="w-full text-gray-100"
            hlmInput
            type="text"
            name="username"
            formControlName="username"
            id="username"
            placeholder="Username"
            autocomplete="username"
            required
          />
        </hlm-form-field>
      </fieldset>
      <fieldset>
        <label
          hlmLabel
          for="email"
          class="block text-sm/6 font-medium text-gray-300"
          >Email address</label
        >
        <hlm-form-field>
          <input
            class="w-full text-gray-100"
            hlmInput
            type="email"
            name="email"
            formControlName="email"
            id="email"
            placeholder="Email"
            autocomplete="email"
            required
          />
        </hlm-form-field>
      </fieldset>
      <fieldset>
        <label
          hlmLabel
          for="password"
          class="block text-sm/6 font-medium text-gray-300"
          >Password</label
        >
        <div class="relative">
          <hlm-form-field>
            <input
              class="w-full text-gray-100"
              hlmInput
              [type]="showPass() ? 'text' : 'password'"
              name="password"
              formControlName="password"
              id="password"
              placeholder="Password"
              autocomplete="password"
              required
            />
          </hlm-form-field>
          <button
            type="button"
            class="absolute top-0 right-0 rounded-r-md hover:bg-[#fff] duration-300 text-[#fff] hover:text-black h-10 px-2.5 border"
            (click)="togglePasswordVisibility()"
          >
            {{ showPass() ? "Hide" : "Show" }}
          </button>
        </div>
      </fieldset>
      <fieldset>
        <label
          hlmLabel
          for="repeatPassword"
          class="block text-sm/6 font-medium text-gray-300"
          >Repeat password</label
        >
        <div class="relative">
          <hlm-form-field>
            <input
              class="w-full text-gray-100"
              hlmInput
              [type]="showRepeatPass() ? 'text' : 'password'"
              name="repeatPassword"
              formControlName="repeatPassword"
              id="repeatPassword"
              placeholder="Repeat password"
              autocomplete="repeatPassword"
              required
            />
          </hlm-form-field>
          <button
            type="button"
            class="absolute top-0 right-0 rounded-r-md hover:bg-[#fff] duration-300 text-[#fff] hover:text-black h-10 px-2.5 border"
            (click)="toggleRepeatPasswordVisibility()"
          >
            {{ showRepeatPass() ? "Hide" : "Show" }}
          </button>
        </div>
      </fieldset>

      <fieldset>
        <button
          hlmBtn
          variant="outline"
          class="text-[#fff] w-full"
          type="submit"
        >
          Sign in
        </button>
      </fieldset>
    </form>

    <p class="mt-2 text-center text-sm/6 text-gray-500">
      Already have an account?
      <a
        [routerLink]="['/login']"
        class="font-semibold text-[#fff] hover:text-gray-300"
        >Login</a
      >
    </p>
  </div>
</div>
