::ng-deep ngx-smart-cropper .background::before {
  background-size: contain !important;
  max-height: 100%;
  background-position-x: center !important;
}

::ng-deep ngx-smart-cropper .buttons {
  top: -25px !important;
}

::ng-deep ngx-smart-cropper .btn {
  cursor: pointer;
}

::ng-deep ngx-smart-cropper {
  max-height: 80vh;
}
::ng-deep ngx-smart-cropper .cropper-container {
  max-height: 100%;
}
::ng-deep ngx-smart-cropper .background,
::ng-deep ngx-smart-cropper img {
  max-height: 70vh;
  object-fit: contain;
  aspect-ratio: 1 / 1;
}
