<main class="h-full flex flex-col py-2">
  <brn-separator decorative hlmSeparator />
  <header class="flex w-full items-start py-2 px-4 md:px-0 justify-between">
    <div class="flex items-center gap-x-2">
      <hlm-avatar variant="medium">
        <img
          [src]="imageUrl() ?? '/icons/avatar.svg'"
          alt="pfp"
          hlmAvatarImage
        />
      </hlm-avatar>
      <h1 class="font-medium text-2xl">
        @if(conversation()) {
        {{
          conversation()!.participants[1].first_name +
            " " +
            conversation()!.participants[1].last_name
        }}
        }
      </h1>
    </div>
  </header>
  <brn-separator decorative hlmSeparator />

  <section class="h-full">
    <!-- Chat Messages -->
    <div id="chat-messages" class="h-full flex-1 p-4 space-y-4 overflow-y-auto">
      @if(messages().length === 0 ) {
      <ng-container>
        <div class="flex justify-center h-full items-center">
          <p class="text-slate-400">No messages yet. Start the conversation!</p>
        </div>
      </ng-container>
      } @for(message of messages(); track message._id) {
      <ng-container>
        <div
          class="flex"
          [ngClass]="{ 'justify-end': isCurrentUserMessage(message) }"
        >
          <hlm-card
            class="max-w-[75%]"
            [ngClass]="{
              'bg-blue-100 text-blue-900': isCurrentUserMessage(message),
              'bg-slate-100': !isCurrentUserMessage(message)
            }"
          >
            <div hlmCardContent>
              <p>{{ message.content }}</p>
              <div class="text-xs text-right mt-1 opacity-70">
                {{ getMessageTime(message) }}
              </div>
            </div>
          </hlm-card>
        </div>
      </ng-container>
      }
    </div>
  </section>
  <brn-separator decorative hlmSeparator />

  <footer>
    <!-- Message Input -->
    <div class="p-2 flex justify-center items-center gap-x-4">
      <input
        hlmInput
        class="w-full"
        placeholder="Type a message..."
        [formControl]="messageControl"
        (keydown.enter)="$event.preventDefault(); sendMessage()"
      />
      <button
        hlmBtn
        (click)="sendMessage()"
        [disabled]="messageControl.invalid"
        class="cursor-pointer"
      >
        Send
      </button>
    </div>
  </footer>
</main>
