<main class="overflow-hidden h-full flex">
  @if(!isMobile()){
  <section class="w-1/3 h-dvh overflow-hidden">
    <app-conversation-list></app-conversation-list>
  </section>
  <brn-separator hlm decorative orientation="vertical" />
  <section
    class="h-dvh overflow-hidden"
    [ngClass]="isMobile() ? 'w-full' : 'w-2/3'"
  >
    @if(isConversationListActive()) { Please select a conversation } @else {
      <ng-container *ngTemplateOutlet="ionicOutlet"></ng-container>
    }
  </section>
  }@else {
  <section>
    <ng-container *ngTemplateOutlet="ionicOutlet"></ng-container>
  </section>
  }
</main>


<ng-template #ionicOutlet>
  <ion-router-outlet class="relative"/>
</ng-template>
