<div class="overflow-x-hidden">
  @if (isMobile()) {
  <main>
    @if(!isChatView()){
    <ng-container *ngTemplateOutlet="leftSide"></ng-container>
    } @else { @if(activeView() === 'chatbox'){
    <div [@slideAnimation]="'left'">
      <button hlmBtn (click)="setActiveView('chatbox-settings')">
        go to settings
      </button>
      <ng-container *ngTemplateOutlet="rightSide"></ng-container>
    </div>
    } @else if(activeView() === 'chatbox-settings') {
    <div [@slideAnimation]="'right'">
      <button hlmBtn (click)="setActiveView('chatbox')">go to chat</button>
      <app-chatbox-settings></app-chatbox-settings>
    </div>
    } }
  </main>
  } @else {
  <main class="flex space-x-4 h-screen w-full">
    <section class="w-2/5 mx-0">
      <ng-container *ngTemplateOutlet="leftSide"></ng-container>
    </section>
    <brn-separator decorative hlmSeparator orientation="vertical" />
    <section class="w-3/5">
      <ng-container *ngTemplateOutlet="rightSide"></ng-container>
    </section>
  </main>
  }

  <ng-template #leftSide>
    <div [@slideAnimation]="'left'" class="h-full">
      <app-messages-list></app-messages-list>
    </div>
  </ng-template>

  <ng-template #rightSide>
    <div [@slideAnimation]="'right'" class="h-full">
      @if(isMobile()){
      <div class="p-2">
        <button
          type="button"
          (click)="goBack()"
          hlmBtn
          variant="secondary"
          class="cursor-pointer rounded-full"
        >
          <ng-icon hlm size="sm" name="lucideChevronLeft" />
        </button>
      </div>
      }
      <router-outlet></router-outlet>
    </div>
  </ng-template>
</div>
