<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <div class="mb- text-center tracking-tight">
      <img
        class="mx-auto h-14 w-auto my-2 p-2 bg-black rounded-xl"
        src="chat-favicon-light.png"
        alt="Chat app"
      />
      <h1 class="text-2xl/9 font-medium text-black dark:text-gray-200">
        Welcome Back
      </h1>
      <h2 class="text-gray-500 p-2">
        Sign in to access your account, manage your preferences, and pick up right where you left off.        
      </h2>
    </div>
  </div>


  @if (isLoading()) {
    <div class="mx-auto w-full max-w-sm">
      <div hlmAlert>
        <ng-icon hlm hlmAlertIcon name="lucideLoader" />
        <h4 hlmAlertTitle>Processing</h4>
        <p hlmAlertDesc>Please wait...</p>
      </div>
    </div>
  } @else {
    @if (error()) {
      <div
        class="mx-auto w-full max-w-sm cursor-pointer"
        (click)="clearError()"
        >
        <div hlmAlert variant="destructive">
          <ng-icon hlm hlmAlertIcon name="lucideTriangleAlert" />
          <h4 hlmAlertTitle>Unexpected Error</h4>
          <p hlmAlertDesc>{{ error() }}</p>
        </div>
      </div>
    }
  }
  @if(form.get('password')?.errors?.['passwordStrength'] !== null && !form.controls['password'].hasError('required')) {
    <div hlmAlert class="mx-auto md:max-w-sm hover:ring-[3px] hover:ring-ring/50 transition-all">
      <ng-icon hlm hlmAlertIcon name="lucideCircleAlert" />
      <h1 hlmAlertTitle> Password is invalid! </h1>
      <ul hlmAlertDesc class="list-disc text-destructive">

        @if (!form.get('password')?.errors?.['passwordStrength']?.hasLength) {
          <li>
            <hlm-error class="flex items-center gap-x-1 mt-2 mb-px">
              Password must be at least 8 characters long.
            </hlm-error>
          </li>
        }
        @if (!form.get('password')?.errors?.['passwordStrength']?.hasUppercase) {
          <li>
            <hlm-error class="flex items-center gap-x-1 mt-2 mb-px">
              Password must contain at least one uppercase letter.
            </hlm-error>
          </li>
        }
        @if (!form.get('password')?.errors?.['passwordStrength']?.hasNumeric) {
          <li>
            <hlm-error class="flex items-center gap-x-1 mt-2 mb-px">
              Password must contain at least one number.
            </hlm-error>
          </li>
        }
        @if (!form.get('password')?.errors?.['passwordStrength']?.hasSpecial) {
          <li>
            <hlm-error class="flex items-center gap-x-1 mt-2 mb-px">
              Password must contain at least one special character.
            </hlm-error>
          </li>
        }
      </ul>
    </div>
  }

  <div class="mt-5 sm:mx-auto sm:w-full sm:max-w-sm">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <fieldset class="mb-2">
        <hlm-form-field>
          <input
            type="email"
            name="email"
            formControlName="email"
            id="email"
            autocomplete="email"
            required
            class="w-full"
            hlmInput
            placeholder="Email"
          />
          @if (form.controls['email'].hasError('required')) {
            <hlm-error
              class="flex items-center gap-x-1"
            > 
              Email required!
            </hlm-error>
          }
          @if (form.controls['email'].hasError('email')) {
            <hlm-error
              class="flex items-center gap-x-1"
            >  
              Email invalid!
            </hlm-error>
          }
        </hlm-form-field>
      </fieldset>
      <fieldset class="mb-2">
        <div class="text-sm"></div>
        <div class="relative">
          <hlm-form-field>
            <input 
              [type]="showPass() ? 'text' : 'password'"
              name="password" 
              formControlName="password" 
              id="password" 
              class="w-full rounded-r-[calc(var(--radius))]" 
              placeholder="Password" 
              autocomplete="current-password" 
              required 
              hlmInput
            />
            @if (form.controls['password'].hasError('required')) {
              <hlm-error class="flex items-center gap-x-1 mt-2 mb-px">
                Password required!
              </hlm-error>
            } @else if(form.get('password')?.errors?.['passwordStrength'] !== null){
              <hlm-error>
                Password is invalid!
              </hlm-error>
            }
          </hlm-form-field>
          <button
            type="button"
            hlmBtn
            class="absolute top-0 right-0 rounded-l-none duration-300 min-w-16 cursor-pointer"
            (click)="togglePasswordVisibility()"
            >
              {{ showPass() ? "Hide" : "Show" }}
          </button>
          <p class="text-end text-sm/6 text-gray-500">
            <a 
              (click)="navigate('/auth/forgot-password')" 
              class="font-medium text-primary cursor-pointer"
              >
              Forgot password?
            </a>
          </p>
        </div>
      </fieldset>
        
      <fieldset>
        <button
          type="submit"
          hlmBtn
          variant="default"
          class="w-full cursor-pointer"
        >
            Sign in
        </button>
      </fieldset>
    </form>
    <p class="mt-2 text-center text-sm/6 text-gray-500">
      Not a member?
      <a
        (click)="navigate('/auth/register')"
        class="text-primary cursor-pointer"
      >
        Register now
      </a>
    </p>
  </div>
</div>
