<div hlmSidebarWrapper>
  <hlm-sidebar>
    <div hlmSidebarContent>
      <div hlmSidebarGroup>
        <div hlmSidebarGroupLabel>Settings</div>
        <div hlmSidebarGroupContent>
          <ul hlmSidebarMenu>
            @for(item of items; track item.title){
            <li hlmSidebarMenuItem>
              <a
                hlmSidebarMenuButton
                [routerLink]="item.url"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                <ng-icon hlm [name]="item.icon" />
                <span>{{ item.title }}</span>
              </a>
            </li>
            }
          </ul>
        </div>
      </div>
    </div>
  </hlm-sidebar>
  <ng-content />

  <div class="md:flex w-full h-full">
    <button hlmSidebarTrigger class="m-2">
      <span class="sr-only"></span>
    </button>
    <main class="p-4 w-full"><router-outlet /></main>
  </div>
</div>
