<div hlmSidebarWrapper>
  <hlm-sidebar>
    <!-- <header class="flex h-12 items-center justify-between px-4">
      <button hlmSidebarTrigger><span class="sr-only"></span></button>
    </header> -->
    <div hlmSidebarContent class="pt-10">
      <div hlmSidebarGroup>
        <div hlmSidebarGroupContent>
          <ul hlmSidebarMenu>
            @for (item of _items; track item.title) {
            <brn-collapsible
              [expanded]="item.defaultOpen"
              class="group/collapsible"
            >
              <li hlmSidebarMenuItem>
                <button
                  brnCollapsibleTrigger
                  hlmSidebarMenuButton
                  class="flex w-full items-center justify-between"
                >
                  <span>{{ item.title }}</span>
                  <ng-icon
                    name="lucideChevronRight"
                    class="ml-auto transition-transform group-data-[state=open]/collapsible:rotate-90"
                    hlm
                  />
                </button>
                <brn-collapsible-content>
                  <ul hlmSidebarMenuSub>
                    @for (subItem of item.items; track subItem.title) {
                    <li hlmSidebarMenuSubItem>
                      <button
                        [routerLink]="subItem.route"
                        hlmSidebarMenuSubButton
                        class="w-full"
                      >
                        <span>{{ subItem.title }}</span>
                      </button>
                    </li>
                    }
                  </ul>
                </brn-collapsible-content>
              </li>
            </brn-collapsible>
            }
          </ul>
        </div>
      </div>
    </div>
  </hlm-sidebar>
  <header
    class="z-10 absolute top-0 right-0 xs:left-0 flex h-12 p-2 items-center justify-between"
  >
    <button hlmSidebarTrigger><span class="sr-only"></span></button>
  </header>

  <main class="p-4 w-full">
    <router-outlet />
  </main>
</div>
