/* SF Pro */
@font-face {
  font-family: "SF Pro";
  src: url("/fonts/SF-Pro/SFPRODISPLAYBLACKITALIC.OTF") format("opentype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro";
  src: url("/fonts/SF-Pro/SFPRODISPLAYBOLD.OTF") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro";
  src: url("/fonts/SF-Pro/SFPRODISPLAYHEAVYITALIC.OTF") format("opentype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro";
  src: url("/fonts/SF-Pro/SFPRODISPLAYLIGHTITALIC.OTF") format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro";
  src: url("/fonts/SF-Pro/SFPRODISPLAYMEDIUM.OTF") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro";
  src: url("/fonts/SF-Pro/SFPRODISPLAYREGULAR.OTF") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro";
  src: url("/fonts/SF-Pro/SFPRODISPLAYSEMIBOLDITALIC.OTF") format("opentype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro";
  src: url("/fonts/SF-Pro/SFPRODISPLAYTHINITALIC.OTF") format("opentype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro";
  src: url("/fonts/SF-Pro/SFPRODISPLAYULTRALIGHTITALIC.OTF") format("opentype");
  font-weight: 200;
  font-style: italic;
}
/* **** */

/* SF Georgia Regular */
@font-face {
  font-family: "SF Georgia";
  src: url("/fonts/SF-Georgia/SF-Georgia-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

/* SF Georgia Bold */
@font-face {
  font-family: "SF Georgia";
  src: url("/fonts/SF-Georgia/SF-Georgia-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

/* SF Georgia Rounded Regular */
@font-face {
  font-family: "SF Georgia Rounded";
  src: url("/fonts/SF-Georgia/SF-Georgia-Rounded-Regular.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
}

/* SF Georgia Rounded Bold */
@font-face {
  font-family: "SF Georgia Rounded";
  src: url("/fonts/SF-Georgia/SF-Georgia-Rounded-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
