@let conversation = this.conversation();

<main class="h-full w-full py-12 p-2 overflow-y-auto">
    @if(conversation) {
        <section class="space-y-4">
            <div class="flex flex-col items-center space-y-2">
                <div class="group size-20 sm:size-30 border-2 relative rounded-full overflow-hidden">
                    @if(conversation.is_group) {
                        <div 
                            class="opacity-0 pointer-events-none group-hover:pointer-events-auto group-hover:opacity-100 absolute top-1/2 left-1/2 -translate-1/2 w-full h-full bg-black/20 dark:bg-black/40 flex items-center justify-center transition-all"
                            >
                            <button hlmBtn class="cursor-pointer" (click)="chatImageInput.click()">
                                Edit picture
                            </button>
                        </div>
                    }
                    <input
                        #chatImageInput
                        id="chat-image-input"
                        type="file"
                        (change)="onFileChange($event); chatImageInput.value = ''"
                        accept="image/*"
                        hidden
                    />
                    @if(conversation.is_group) {
                        <img
                            [src]="
                                conversation.group_picture ? 
                                `${apiUrl}${conversation.group_picture}` : '/icons/group.svg'"
                            [alt]="conversation.group_name || 'group_picture'"
                            class="w-full h-full object-cover"
                        />
                    } @else {
                        <img
                            [src]="
                                conversation.participants[0].profile_picture ? 
                                `${apiUrl}${conversation.participants[0].profile_picture}` : '/icons/avatar.svg'"
                            [alt]="conversation.group_name || 'group_picture'"
                            class="w-full h-full object-cover"
                        />
                    }
                </div>
                
                <span class="font-medium text-xl text-center">
                    @if(conversation.group_name) {
                        {{ conversation.group_name }}
                    } @else {
                        @for(participant of conversation?.participants; let i = $index; track participant._id) {
                            <span>
                                {{
                                    participant.first_name +
                                    " " +
                                    participant.last_name +
                                    (i + 1 !== conversation.participants.length ? "," : "")
                                }}
                            </span>
                        }
                    }
                </span>
                
                @if(!conversation.is_group) {
                    <button 
                        hlmBtn 
                        class="cursor-pointer"
                        variant="outline" 
                        (click)="navigate(`/${conversation.participants[0]._id}`)" 
                        >
                        <ng-icon hlm name="lucideCircleUserRound" />
                        View profile
                    </button>
                }
            </div>
        </section>
        
        @if(conversation.is_group) {
            <section class="w-full h-fi flex flex-col mt-12">
                <div>
                    <button
                        (click)="toggleDropdown('chatInfo')"
                        class="w-full p-3 hover:bg-accent rounded-xl cursor-pointer"
                        >
                        <div class="flex items-center justify-between">
                            <span class="font-medium"> Chat info </span>
                            <ng-icon
                                hlm
                                [name]="
                                isOpen('chatInfo') ? 'lucideChevronUp' : 'lucideChevronDown'
                                "
                            />
                        </div>
                    </button>
                    
                    @if(isOpen('chatInfo')) {
                        <div
                            [attr.data-state]="isOpen('chatInfo')"
                            class="data-[state=true]:animate-in data-[state=true]:fade-in-0 data-[state=true]:zoom-in-95 data-[state=true]:slide-in-from-top-[2%]"
                            >
                            <button
                                (click)="onChatNameChange()"
                                class="w-full text-sm p-3 hover:bg-accent rounded-xl cursor-pointer flex items-center text-start"
                                >
                                <ng-icon hlm class="mr-1.5" name="lucidePencil" />
                                <span> Change chat name </span>
                            </button>
                        </div>
                    }
                </div>
                <div>
                    <button
                        (click)="toggleDropdown('members')"
                        class="w-full p-3 hover:bg-accent rounded-xl cursor-pointer"
                        >
                        <div class="flex items-center justify-between">
                        <span class="font-medium"> Members </span>
                        <ng-icon
                            hlm
                            [name]="isOpen('members') ? 'lucideChevronUp' : 'lucideChevronDown'"
                        />
                        </div>
                    </button>
                    
                    @if(isOpen('members')) {
                        <div 
                            [attr.data-state]="isOpen('members')"
                            class="data-[state=true]:animate-in data-[state=true]:fade-in-0 data-[state=true]:zoom-in-95 data-[state=true]:slide-in-from-top-[2%]"
                            >
                            <button
                                (click)="onAddMembers()"
                                class="w-full text-sm p-3 hover:bg-accent rounded-xl cursor-pointer flex items-center text-start"
                                >
                                <ng-icon hlm class="mr-1.5" name="lucidePencil" />
                                <span> Add members </span>
                            </button>
                        
                            <div class="w-full flex-col gap-x-2 space-y-2 mb-2">
                                @for(participant of conversation.participants; track $index) {
                                    <div class="p-2 text-sm flex items-center justify-between hover:bg-accent rounded-full relative">
                                        <div class="flex items-center">
                                            <hlm-avatar variant="small" class="mr-2.5">
                                                <img
                                                    [src]="participant.profile_picture ? `${apiUrl}${participant.profile_picture}` : '/icons/avatar.svg'"
                                                    [alt]="participant.username"
                                                    hlmAvatarImage
                                                    />
                                                </hlm-avatar>
                                                
                                                <span>
                                                    {{ `${participant.first_name} ${participant.last_name}` }}
                                                </span>
                                        </div>
                                        
                                        <button
                                            [brnMenuTriggerFor]="menu"
                                            class="flex items-center p-1 rounded-full hover:bg-primary hover:text-secondary duration-150 cursor-pointer"
                                            >
                                            <ng-icon hlm size="sm" name="lucideMenu" />
                                        </button>
                                        
                                        <ng-template #menu>
                                            <hlm-menu>
                                                <hlm-menu-group>
                                                    <button
                                                    (click)="onMessageMember(participant)"
                                                    hlmMenuItem
                                                    class="cursor-pointer"
                                                        >
                                                        <ng-icon hlm name="lucideMessageCircle" hlmMenuIcon />
                                                        <span> Message </span>
                                                    </button>

                                                    <hlm-menu-separator />
                                                    
                                                    <button
                                                    (click)="navigate(`/${participant._id}`)"
                                                    hlmMenuItem
                                                    class="cursor-pointer"
                                                    >
                                                    <ng-icon hlm name="lucideCircleUserRound" hlmMenuIcon />
                                                    View profile
                                                </button>
                                                
                                                <hlm-menu-separator />

                                                <button
                                                (click)="onRemoveMember(participant)"
                                                hlmMenuItem
                                                class="cursor-pointer"
                                                >
                                                <ng-icon hlm name="lucideUserRoundMinus" hlmMenuIcon />
                                                Remove member
                                            </button>
                                        </hlm-menu-group>
                                            </hlm-menu>
                                        </ng-template>
                                    </div>
                                }
                            </div>
                        
                        <button
                            (click)="onLeaveGroup()"
                            class="w-full text-sm text-red-500 p-3 hover:bg-accent rounded-xl cursor-pointer flex items-center text-start"
                            >
                            <ng-icon hlm class="mr-1.5" name="lucideDoorOpen" />
                            <span> Leave group </span>
                        </button>
                    </div>
                    }
                </div>
                
                <div>
                    <button
                        (click)="toggleDropdown('media-files')"
                        class="w-full p-3 hover:bg-accent rounded-xl cursor-pointer"
                    >
                        <div class="flex items-center justify-between">
                            <span class="font-medium"> Media & files </span>
                            <ng-icon
                                hlm
                                [name]="
                                isOpen('media-files') ? 'lucideChevronUp' : 'lucideChevronDown'
                                "
                            />
                        </div>
                    </button>
                    
                    @if(isOpen('media-files')) {
                        
                        <hlm-tabs tab="media" class="w-full">

                            <hlm-tabs-list aria-label="tabs example">
                                <button hlmTabsTrigger="media">Media</button>
                                <button hlmTabsTrigger="files">Files</button>
                            </hlm-tabs-list>
                            <div hlmTabsContent="media">
                                <h1>
                                    Media    
                                </h1>
                            </div>
                            <div hlmTabsContent="files">
                                <h1>
                                    Files    
                                </h1>
                            </div>
                        </hlm-tabs>
                    }
                </div>
            </section>
        }
    } @else { 
        <div class="flex flex-col items-center justify-center h-full">
            <hlm-spinner />
            <span class="font-medium text-base mt-2">
                Loading conversation...
            </span>
        </div>
    }
</main>

<ng-container #modalContainer></ng-container>

@if(initialChatImageSrc()){
    <div class="fixed top-0 left-0 w-full h-full bg-black/50 flex items-center justify-center z-50">
        <div class="glass-card flex flex-col items-center p-4 pb-0">
            <h1 class="text-xl mb-4">Crop the chat image</h1>
            <ngx-smart-cropper
                [imageType]="'png'"
                [theme]="'auto'"
                [imageSource]="initialChatImageSrc()"
                (imageCroppedEvent)="onChatImageChange($event)"
            ></ngx-smart-cropper>
        </div>
    </div>
}
