<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <div class="mb- text-center tracking-tight">
            <img
                class="mx-auto h-14 w-auto my-2 p-2 bg-black rounded-xl"
                src="chat-favicon-light.png"
                alt="Chat app"
            />
            <h1 class="text-2xl/9 font-medium text-primary">
                Forgot Your Password?
            </h1>
            <h2 class="text-gray-500 p-2">
                No worries — it happens! Enter your email address below, and we'll send you a link to reset your password and get you back on track.
            </h2>
        </div>
    </div>


  @if (isLoading()) {
    <div class="mx-auto w-full max-w-sm">
      <div hlmAlert>
        <ng-icon hlm hlmAlertIcon name="lucideLoader" />
        <h4 hlmAlertTitle>Processing</h4>
        <p hlmAlertDesc>Please wait...</p>
      </div>
    </div>
  } @else {
    @if (error()) {
      <div
        class="mx-auto w-full max-w-sm cursor-pointer"
        (click)="clearError()"
        >
        <div hlmAlert variant="destructive">
          <ng-icon hlm hlmAlertIcon name="lucideTriangleAlert" />
          <h4 hlmAlertTitle>Unexpected Error</h4>
          <p hlmAlertDesc>{{ error() }}</p>
        </div>
      </div>
    }
  }

  <div class="mt-5 sm:mx-auto sm:w-full sm:max-w-sm">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <fieldset class="mb-4">
        <hlm-form-field>
          <input
            type="email"
            name="email"
            formControlName="email"
            id="email"
            autocomplete="email"
            required
            class="w-full"
            hlmInput
            placeholder="Email"
          />
          @if (form.controls['email'].hasError('required')) {
            <hlm-error
              class="flex items-center gap-x-1"
            > 
              Email required!
            </hlm-error>
          }
          @if (form.controls['email'].hasError('email')) {
            <hlm-error
              class="flex items-center gap-x-1"
            >  
              Email invalid!
            </hlm-error>
          }
        </hlm-form-field>
      </fieldset>

      <fieldset>
        <button
          type="submit"
          hlmBtn
          variant="default"
          class="w-full cursor-pointer"
        >
            Send Reset Link
        </button>
      </fieldset>
    </form>
    <p class="mt-2 text-center text-sm/6 text-gray-500">
      Back to
      <a
        [routerLink]="'/auth/login'"
        class="ml-px text-primary cursor-pointer"
      >
        Login
      </a>
    </p>
  </div>
</div>
