<main class="flex min-h-full flex-col justify-center items-center px-6 py-12">
  <div class="w-full max-w-sm space-y-6">
    <!-- Header -->
    <div class="text-center space-y-2">
      <div
        class="inline-flex items-center justify-center size-14 bg-black rounded-2xl mb-4"
      >
        <img
          src="chat-favicon-light.png"
          alt="Chat app"
          class="size-8 object-contain"
        />
      </div>
      <h1 class="text-xl font-semibold tracking-tight">
        Forgot your password?
      </h1>
      <p class="text-sm text-muted-foreground">
        Enter your email and we'll send you a reset link.
      </p>
    </div>

    <!-- Alerts -->
    @if (isLoading()) {
      <div hlmAlert>
        <ng-icon hlm hlmAlertIcon name="lucideLoader" class="animate-spin" />
        <h4 hlmAlertTitle>Processing</h4>
        <p hlmAlertDesc>Please wait...</p>
      </div>
    } @else if (error()) {
      <div
        hlmAlert
        variant="destructive"
        class="cursor-pointer"
        (click)="clearError()"
      >
        <ng-icon hlm hlmAlertIcon name="lucideTriangleAlert" />
        <h4 hlmAlertTitle>Error</h4>
        <p hlmAlertDesc>{{ error() }}</p>
      </div>
    }

    <!-- Form -->
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="space-y-4">
      <hlm-form-field>
        <input
          type="email"
          name="email"
          formControlName="email"
          id="email"
          autocomplete="email"
          required
          hlmInput
          placeholder="Email address"
          class="w-full"
        />
        @if (form.controls["email"].hasError("required")) {
          <hlm-error class="text-xs">Email required</hlm-error>
        }
        @if (form.controls["email"].hasError("email")) {
          <hlm-error class="text-xs">Invalid email address</hlm-error>
        }
      </hlm-form-field>

      <button type="submit" hlmBtn class="w-full cursor-pointer rounded-full">
        Send reset link
      </button>
    </form>

    <p class="text-center text-xs text-muted-foreground">
      Back to
      <a
        [routerLink]="'/auth/login'"
        class="text-foreground underline-offset-4 hover:underline cursor-pointer"
        >Login</a
      >
    </p>
  </div>
</main>
